ol{
    list-style: none;
    width: 500px;
    margin: 20px auto 0 auto;
    padding: 0;
}
li{
    margin: 36px;
    list-style: none;
    padding: 5px;
    background-color: rgb(215, 180, 166);
}
h1{
    font-size: 50px;
    color: rgb(146, 95, 123);
    margin: 40px;
}
a{
    font-size: 35px;
    padding: 15px 35px;
    color: aliceblue;
    background-color: rgb(135, 93, 76);
    border-radius: 15px;
    border: black;
    margin: 20px auto 0 auto;
}
a:hover{
    text-decoration: none;
    background-color:rgb(113, 63, 43) ;

} 