body{
    background-color: antiquewhite;
    text-align: center;
    color: blue;
}
h1{
    font-size: 50px;
    font-family: 'Libertinus Math' , sans-serif;
    color: red;
}
p{
    font-family: arial;
    color: rgb(222, 135, 28);
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
a:hover{
    text-decoration: underline;
}
